#displayInstrument{
margin-top: 1rem;
}

#display{
display: flex;
flex-direction: column-reverse;
align-items: flex-start;
} 

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;

}

.drum-pad{
    color: black;
    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
}

.drum-pad:hover{
    color: black;
    background-color: rgb(58, 57, 57); 
}

.drum-pad:active{
    color: rgb(255, 255, 255);
    background-color: rgb(58, 57, 57); 
}
